{:deps
 {cljsjs/react {:mvn/version "17.0.2-0"}
  cljsjs/react-dom {:mvn/version "17.0.2-0"}
  cljsjs/react-dom-server {:mvn/version "17.0.2-0"}
  uix.core/uix.core
  {:git/url "https://github.com/huygn/uix"
   :git/sha "3224608e4b9da17f171433871dcded1cb67abca3"
   :deps/root "core"}
  uix.dom/uix.dom
  {:git/url "https://github.com/huygn/uix"
   :git/sha "3224608e4b9da17f171433871dcded1cb67abca3"
   :deps/root "dom"}}}
